{% extends 'layout.html.twig' %}

{% block title %}HTC Intranet | Gestion des contrats clients{% endblock %}

{% block inner_content %}
    <!-- Page Heading -->

    {% include 'flash_message/index.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="m-0 font-weight-bold text-primary">{{ is_new ? 'Créer' : 'Modifier' }} un contrat</h5>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary float-right" href="{{ path('htcintranet_deal_index') }}">
                            <i class="fa fa-plus mr-2"></i>
                            Revenir à la liste des contrats
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% include 'deal/_form.html.twig' with {'is_new': is_new} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('deal') }}{% endblock %}
