<div class="modal fade" id="modal-deal-sheet" tabindex="-1" aria-labelledby="modalDealSheetLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-primary">Détail du contrat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="js-deal-sheet-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary js-btn-close" data-bs-dismiss="modal">Fermer</button>
                <!--button type="button" class="btn btn-primary js-btn-confirm">Confirmer</button-->
            </div>
        </div>
    </div>
</div>