<div class="modal fade" id="modal-state-confirmation" tabindex="-1" aria-labelledby="modalStateConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="js-confirmation-state-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="js-confirmation-state-content">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary js-btn-close" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary js-btn-confirm">Confirmer</button>
            </div>
        </div>
    </div>
</div>