<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <!--div class="d-flex justify-content-center align-items-center mb-3">
            <img class="img-profile mr-3" src="{# { asset('build/image/logo_htc.png') }} #}" width="80" height="40" style="background-color: transparent;">
        </div-->
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Human Talent Consulting - Intranet 2023</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->